#
# Near Field Communication (NFC) devices
#

config NFC_CXD224X
	tristate "CXD224X NFC driver"
	depends on I2C
	select CRC_CCITT
	default y
	---help---
	  Say yes if you want Sony cxd224x Near Field Communication driver.
	  This is for i2c connected version. If unsure, say N here.

	  To compile this driver as a module, choose m here. The module will
	  be called cxd224x-i2c.

config NFC_CXD224X_VEN
	tristate "CXD224X NFC VEN"
	depends on NFC_CXD224X
	default n
	---help---
	  Say yes if you want to use cxd224x NFC VEN(enable voltage) control.
	  If unsure, say N here.

config NFC_CXD224X_RST
	tristate "CXD224X NFC RST"
	depends on NFC_CXD224X
	default y
	---help---
	  Say yes if you want to use cxd224x NFC RST(external XRST pin) control.

